<section class="bg-indigo-900 p-4">
    <div class="max-w-xs px-4 mx-auto center text-md leading-relaxed">
        <span class="flex flex-row items-center">
        <img src="/static/younes-khoubza.jpeg" alt="Younes KHOUBZA" class="inline rounded-full h-12 w-12 mr-4 border-gray-100 border"/>
        <p class="text-indigo-400">
            PHP flasher is a project by <a class="text-white" target="_blank" href="https://www.linkedin.com/in/younes-khoubza/">Younes KHOUBZA</a>.
        </p>
        </span>
    </div>
</section>
