<section class="bg-indigo-900 pt-10 pb-10">
    <div class="max-w-xs mx-auto text-center text-md leading-loose">
        <img src="/static/younes-khoubza.jpeg" alt="Younes KHOUBZA" class="inline rounded-full h-20 w-20 border-gray-100 border-2"/>
        <p class="text-indigo-400">
            <span class="text-white">PHP<span class="text-indigo-500">Flasher</span></span> is a project by <a class="text-white" target="_blank" href="https://www.linkedin.com/in/younes-khoubza/">Younes KHOUBZA</a>.
        </p>
        <p class="text-indigo-400">&#9670;</p>
    </div>
</section>
