<p class="text-sm max-w-sm mx-auto mt-6 px-4 leading-very-loose">
    <a class="bg-grey-lightest text-black shadow rounded py-1 px-2 mr-1" href="/docs/">Docs</a>
    <a class="bg-grey-lightest text-black shadow rounded py-1 px-2 mr-1" href="https://github.com/php-flasher/php-flasher"><i class="fa-brands fa-github text-black"></i> GitHub</a>
    <a class="bg-grey-lightest text-black shadow rounded py-1 px-2" href="https://twitter.com/yoeunes"><i class="fa-brands fa-twitter text-blue-400"></i> Twitter</a>
    <a class="bg-grey-lightest text-black shadow rounded py-1 px-2" href="https://www.linkedin.com/in/younes-khoubza/"><i class="fa-brands fa-linkedin text-blue-800"></i> Linkedin</a>
</p>
