pre.copyable {
    position: relative;
}

pre.copyable .copy {
    position: absolute;
    right: 1.5rem;
    top: 0.85rem;
}

pre.copyable .copy i {
    font-size: 1.5rem;
}

pre.copyable .copy:active {
    transform: translateY(3px);
}
