<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>{{ page.title }} - {{ site.data.project.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet"/>
    {% if site.data.project.description %}
    <meta name="description" content="{{ site.data.project.description }}">
    {% endif %}
    {% unless site.data.dev.dev_mode %}
    {% endunless %}
    <link rel="stylesheet" href="/dist/index.css"/>
    <link rel="stylesheet" href="/static/prism.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <!--    <base href="https://php-flasher.github.io/">-->
</head>
<body class="min-h-screen min-w-full leading-normal bg-gray-100 overflow-x-hidden">
<div class="h-16 w-screen bg-white border-b">
    <div class="container mx-auto lg:px-48 py-2">
        <div class="flex items-center flex-no-shrink pt-1">
            <a href="/" class="flex items-center">
                <img class="fill-current h-10 w-10 mr-2" width="30" height="30" src="/static/logo.png" />
                <span class="pr-2 font-normal font-normal leading-none text-3xl text-indigo-900 hidden sm:block">
                    PHP<span class="text-indigo-500">Flasher</span><sup class="text-xs relative text-grey-dark" style="top: -20px;">{{ site.data.project.version }}</sup>
                </span>
            </a>
            <div class="flex-grow"></div>
            <a href="#" id="menu-toggle"
               class="block lg:hidden h-8 w-8 border p-1 border-transparent text-gray-200 hover:text-grey menu-closed">
                <svg class="menu-closed:shown fill-current h-full w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
                <svg class="menu-closed:hidden fill-current h-full w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<main class="container mx-auto lg:px-48 grid sm:grid-cols-3 md:grid-cols-4">
    <menu class="col-span-1 ml-4 sm:hidden md:block">
        {% for section in site.data.menu %}
            <h2 class="cli-prefixed text-sm leading-loose tracking-wide text-indigo-600 uppercase">{{ section[0] }}</h2>
            <ul class="list-reset mb-8">
                {% for link in section[1] %}
                    <li>
                        <a class="leading-loose text-md {% if page.url == link[1] %}text-indigo-500{% else %}text-gray-900{% endif %}" href="{{ link[1] }}">{{ link[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </menu>
    <div class="col-span-3">
        <article class="mx-auto py-4">
            {% unless page.hide_title %}
                <h1 class="mb-1">
                    {% if page.alternate_title %}
                        {{ page.alternate_title }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </h1>
                <p class="text-xs text-grey-dark rounded rounded-t-none mb-4 text-shadow inline-block">
                    {% if page.published_at != page.updated_at %}
                        Last updated at {{ page.updated_at | date_to_long_string }} |
                    {% endif %}
                    Published at {{ page.published_at | date_to_long_string }}
                </p>
            {% endunless %}
            {{ content }}
        </article>
    </div>
</main>
{% include compact-footer.html %}
<script src="/static/prism.js" type="application/javascript"></script>
<script src="/static/menu.js" type="application/javascript"></script>
</body>
</html>
