<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>{{ page.title }} - {{ site.data.project.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet"/>
    {% if site.data.project.description %}
    <meta name="description" content="{{ site.data.project.description }}">
    {% endif %}
    {% unless site.data.dev.dev_mode %}
    {% endunless %}
    <link rel="stylesheet" href="/dist/index.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/github-dark-dimmed.min.css"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4D78SM7TC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-T4D78SM7TC');
    </script>
    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"yoeunes",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
</head>
<body class="flex flex-col min-h-screen min-w-full leading-normal bg-gray-50 overflow-x-hidden">

<div class="h-16 w-screen bg-white border-b border-indigo-200">
    <div class="lg:container px-4 mx-auto py-2">
        <div class="flex items-center flex-no-shrink pt-1">
            <a href="/" class="flex items-center">
                <img class="fill-current h-10 w-10 mr-2" width="30" height="30" src="/static/logo.png" />
                <span class="pr-2 font-normal font-normal leading-none text-3xl text-indigo-900 hidden sm:block">
                    PHP<span class="text-indigo-500">Flasher</span><sup class="text-xs relative text-grey-dark" style="top: -20px;">{{ site.data.project.version }}</sup>
                </span>
            </a>
            <div class="flex-grow"></div>
            <a href="#" id="menu-toggle"
               class="block lg:hidden h-8 w-8 border p-1 border-transparent text-gray-200 hover:text-grey menu-closed">
                <svg class="menu-closed:shown fill-current h-full w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
                <svg class="menu-closed:hidden fill-current h-full w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<main class="lg:container md:mx-auto px-6 md:grid sm:grid-cols-3 md:grid-cols-4 flex-grow md:gap-4">
    <nav id="main-navigation" class="col-span-1 lg:ml-4 hidden md:block px-2 lg:px-12">
        {% for section in site.data.menu %}
        <h2 class="text-sm leading-loose tracking-wide text-indigo-400 uppercase">{{ section[0] }}</h2>
        <ul class="list-reset mb-8">
            {% for link in section[1] %}
            <li class="{% if page.url == link[1] %}bg-indigo-500{% endif %} px-6 rounded">
                <a class="leading-loose text-md w-full {% if page.url == link[1] %}text-white{% else %}text-gray-900{% endif %}" href="{{ link[1] }}">{{ link[0] }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </nav>
    <div id="main-article" class="col-span-3">
        <article class="mx-auto py-4">
            {% unless page.hide_title %}
            <h1 class="mb-1">
                {% if page.alternate_title %}
                {{ page.alternate_title }}
                {% else %}
                {{ page.title }}
                {% endif %}
            </h1>
            <p class="text-xs text-grey-dark rounded rounded-t-none mb-4 text-shadow inline-block">
                {% if page.published_at != page.updated_at %}
                Last updated at {{ page.updated_at | date_to_long_string }} |
                {% endif %}
                Published at {{ page.published_at | date_to_long_string }}
            </p>
            {% endunless %}
            {{ content }}
        </article>
    </div>
</main>

{% include compact-footer.html %}
<script src="/static/menu.js" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/twig.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script src="/static/flasher/flasher.js"></script>
<script>
    var snippets = document.querySelectorAll('.snippet');
    snippets.forEach(function (snippet) {
        snippet.firstChild.insertAdjacentHTML('beforebegin', '<button data-clipboard-snippet title="copy to clipboard" class="btn-clipboard text-white focus:outline-none focus:text-white transform focus:scale-75"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20"><path fill="#FFFFFF" d="M6 6V2c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-4v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h4zm2 0h4a2 2 0 0 1 2 2v4h4V2H8v4zM2 8v10h10V8H2z"/></svg></button>');
    });

    var btns = document.querySelectorAll('.btn-clipboard');
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener('mouseleave', clearTooltip);
        btns[i].addEventListener('blur', clearTooltip);
    }

    function clearTooltip(e) {
        e.currentTarget.classList.remove('tooltipped');
        e.currentTarget.classList.remove('tooltipped-s');
        e.currentTarget.removeAttribute('aria-label');
    }

    function showTooltip(elem, msg) {
        elem.classList.add('tooltipped');
        elem.classList.add('tooltipped-s');
        elem.setAttribute('aria-label', msg);
    }

    var clipboardSnippets = new ClipboardJS('[data-clipboard-snippet]', {
        target: function (trigger) {
            return trigger.nextElementSibling;
        }
    });

    clipboardSnippets.on('success', function (e) {
        e.clearSelection();
        showTooltip(e.trigger, 'Copied!');
    });

    hljs.initHighlightingOnLoad();

    {{ site.data.flasher[page.url].render }}
</script>
</body>
</html>
