<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="bg-gray-100 min-h-screen bg-squared leading-tight leader overflow-x-hidden">
        {% include google-tag-manager-no-script.html %}
        {% include size-helper.html %}

        <header class="container mx-auto flex flex-col items-center text-center">
            <a href="/">
                <img class="max-w-sm" src="/dist/images/php-flasher.png" alt="PHPFlasher"/>
            </a>
            <h1 class="text-6xl text-gray-600">
                PHP<span class="text-indigo-600">Flasher</span>.
            </h1>
            <h3 class="text-2xl mx-auto text-gray-600 mt-4 px-8 leading-tight">
                A powerful and flexible flash notification system for <span class="text-indigo-600">PHP</span>  <br> With <i class="fa-brands fa-symfony text-black fa-xl"></i> Symfony and <i class="fa-brands fa-laravel text-red-900 fa-xl"></i> Laravel implementations
            </h3>

            {% include homepage-links.html %}
        </header>

        <section class="my-10 bg-indigo-600 py-10 px-4">
            <div class="container mx-auto lg:grid lg:grid-cols-2">
                <section class="col-span-1">
                    <h2 class="text-3xl text-white leading-tight mb-2 flex">
                        <i class="fa-duotone fa-heart-circle-check text-white mr-1"></i> Why use <span class="ml-1 text-gray-300">PHP</span><span class="text-gray-400 mr-1">Flasher</span> ?
                    </h2>
                    <div class="text-indigo-300 text-xl mt-8 md:ml-16">
                        This library is designed, so you can take full control when creating your notifications :

                        <ul class="text-white mt-8">
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">Render multiple notifications simultaneously</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4 inline-block align-middle">Render notification easily from javascript</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">LTR and Dark-mode support</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">Limit the amount of displayed notifications</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">Show Desktop notifications for : Linux, MacOS and Windows</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">Framework-agnostic with implementations for: <a href="https://laravel.com/" class="text-white"><strong>Laravel</strong></a> and <a href="https://symfony.com/" class="text-white"><strong>Symfony</strong></a></span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">Autocomplete for PHPSTORM</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">You can always create an adapter yourself</span>
                            </li>
                            <li class="flex text-xl mt-4">
                                <i class="fa-duotone fa-check-circle text-white mr-2"></i>
                                <span class="prose ml-4">...and more</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="flex items-center justify-center col-span-1 mt-8">
                    <img class="w-full" src="/dist/images/twitter-card.png" alt="Notifications"/>
                </section>
            </div>
        </section>

        <section class="my-8 container mx-auto lg:grid lg:grid-cols-3 gap-8 px-4">
            <section class="col-span-2">
                <img src="/dist/images/flasher-usage.png" alt="PHPFlasher usage"/>
            </section>
            <section class="col-span-1">
                <h2 class="text-3xl text-indigo-600 leading-tight mb-2 flex">
                    <i class="fa-duotone fa-flask mr-2"></i> Easy To use to fit your taste
                </h2>
                <p class="text-gray-600 text-xl mt-8 md:ml-16">
                    This library was developed with the idea that you should be able to add flash notifications to your application easily with few lines of code.
                </p>
                <p class="text-gray-600 text-xl mt-8 md:ml-16">
                    Inject the <strong class="text-indigo-600">Flasher</strong> service and show a default notification library,
                    or choose a specific one by calling the <strong class="text-indigo-600">create(string $library)</strong> method.
                </p>
                <p class="text-gray-600 text-xl mt-8 md:ml-16">
                    Build your notification and add options to it using the default notification <strong class="text-indigo-600">builder</strong>, several notification builders exists to provide the assistance needed when creating your notifications.
                </p>
                <p class="text-gray-600 text-xl mt-8 md:ml-16">
                    you can also add custom data to your notification with <span class="text-indigo-600 font-semibold">stamps</span>:
                    <br>
                    The library is accompanied by some <span class="text-indigo-600 font-semibold">stamps</span> out of the box :
                    <ul class="mt-4 ml-4 md:ml-24 text-xl">
                        <li class="flex text-xl mt-2 items-center">
                            <i class="fa-duotone fa-check-circle text-indigo-600 mr-2"></i>
                            <span class="prose ml-4 font-semibold text-indigo-600">creation date</span>
                        </li>
                        <li class="flex text-xl mt-2 items-center">
                            <i class="fa-duotone fa-check-circle text-indigo-600 mr-2"></i>
                            <span class="prose ml-4 font-semibold text-indigo-600">priority</span>
                        </li>
                        <li class="flex text-xl mt-2 items-center">
                            <i class="fa-duotone fa-check-circle text-indigo-600 mr-2"></i>
                            <span class="prose ml-4 font-semibold text-indigo-600">delay</span>
                        </li>
                        <li class="flex text-xl mt-2 items-center">
                            <i class="fa-duotone fa-check-circle text-indigo-600 mr-2"></i>
                            <span class="prose ml-4 font-semibold text-indigo-600">hops</span>
                        </li>
                    </ul>
                </p>
            </section>
        </section>

        <section class="mt-10 bg-indigo-600 py-10 px-4">
            <div class="container mx-auto lg:grid lg:grid-cols-2 gap-4">
                <section class="col-span-1 lg:px-24">
                    <h2 class="text-3xl text-white leading-tight mb-2 flex">
                        <i class="fa-duotone fa-message-captions mr-2"></i> Render you notifications
                    </h2>
                    <p class="text-white text-xl mt-8 md:ml-16">
                        PHPFlasher make it very easy to render your notifications just by adding a simple line of code.
                    </p>
                    <p class="text-white text-xl mt-8 md:ml-16">
                        You don't have to worry about importing your javascript or stylesheets, <span class="text-gray-300">PHP</span><span class="text-gray-400">Flasher</span> handle this for you, and it only loads the needed files when notifications are ready to be rendered.
                    </p>
                    <p class="text-white text-xl mt-8 md:ml-16">
                        You can customize how you want to display your notifications: Limit the number of displayed notifications, order them and also filter them how you want with <strong class="text-white">stamps</strong>, of course you can add your own logic here.
                    </p>
                </section>
                <section class="flex items-center justify-center col-span-1 mt-8">
                    <img class="w-full" src="/dist/images/render-notifications.png" alt="Render Notifications"/>
                </section>
            </div>
        </section>

        {% include footer.html %}
    </body>
</html>
