<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <title>{{ page.title }} - {{ site.data.project.title }}</title>
    {% if site.data.project.description %}
    <meta name="description" content="{{ site.data.project.description }}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet"/>
    {% endif %}
    {% unless site.data.dev.dev_mode %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4D78SM7TC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-T4D78SM7TC');
    </script>
    <base href="https://php-flasher.github.io/"/>
    {% endunless %}
    <link rel="stylesheet" href="/dist/index.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body class="bg-gray-100 min-h-screen bg-squared leading-tight leader overflow-x-hidden">
{% include size-helper.html %}
<header class="container mx-auto flex flex-col items-center text-center">
    <a href="/">
        <img class="max-w-sm" src="/static/php-flasher.png" alt="PHP Flasher"/>
    </a>
    <h1 class="text-6xl text-gray-600">
        PHP<span class="text-indigo-600">Flasher</span>.
    </h1>
    <h3 class="text-2xl mx-auto text-gray-600 mt-4 px-8 leading-tight">
        A powerful and flexible flash notifications system for PHP
    </h3>
    {% include leader-links.html %}
    <p class="pt-4 text-center">
        <a href="https://github.com/php-flasher/flasher">
            <img src="https://img.shields.io/badge/source-php--flasher/flasher-blue.svg?style=flat-square"/>
        </a>
        <a href="https://github.com/php-flasher/flasher/releases">
            <img src="https://img.shields.io/github/tag/php-flasher/flasher.svg"/>
        </a>
        <a href="https://github.com/php-flasher/flasher/blob/master/LICENSE">
            <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg"/>
        </a>
        <a href="https://packagist.org/packages/php-flasher/flasher">
            <img src="https://img.shields.io/packagist/dt/php-flasher/flasher.svg"/>
        </a>
        <a href="https://packagist.org/packages/php-flasher/flasher">
            <img src="https://img.shields.io/packagist/php-v/php-flasher/flasher.svg?style=flat-square"/>
        </a>
        <a href="https://opencollective.com/php-flasher">
            <img src="https://opencollective.com/php-flasher/tiers/sponsor/badge.svg?label=sponsor&amp;color=brightgreen" alt="Sponsors">
        </a>
        <a href="https://opencollective.com/php-flasher">
            <img src="https://opencollective.com/php-flasher/tiers/backer/badge.svg?label=backer&amp;color=brightgreen" alt="Backers">
        </a>
    </p>
</header>

<section class="my-10 bg-indigo-900 py-10 px-4">
    <div class="container mx-auto lg:grid lg:grid-cols-2">
        <section class="col-span-1">
            <h2 class="text-3xl text-white leading-tight mb-2 flex">
                <span class="h-10 w-10 mr-3 rounded-full bg-indigo-500 flex items-center justify-center">
                    <img src="/static/icons/thumbs-up.svg" class="w-5"/>
                </span>
                Why use PHP Flasher ?
            </h2>
            <div class="text-indigo-300 text-xl mt-8 md:ml-16">
                This library is designed, so you can take full control when creating you notifications :

                <ul class="text-white mt-8">
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Display multiple notifications</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Sort and filter notifications</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Render notification from JSON response with Ajax or Websockets</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Limit the number of displayed notifications</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Show notifications from different adapters at the same time</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">Framework angostic with integration for : Symfony and Laravel</span>
                    </li>
                    <li class="flex text-xl mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                            <path stroke-width="2" fill="#818CF8"
                                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                        </svg>
                        <span class="prose ml-4">...and more</span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="flex items-center justify-center col-span-1 mt-8">
            <img class="w-full" src="/static/twitter-card.png" alt="Notifications"/>
        </section>
    </div>
</section>

<section class="my-8 container mx-auto lg:grid lg:grid-cols-3 gap-8 px-4">
    <section class="col-span-2">
        <img src="/static/flasher-usage.png" alt="Flasher usage"/>
    </section>
    <section class="col-span-1">
        <h2 class="text-3xl text-indigo-600 leading-tight mb-2 flex">
                <span class="h-10 w-10 mr-3 rounded-full bg-indigo-500 flex items-center justify-center">
                    <img src="/static/icons/heart.svg" class="inline-block w-5"/>
                </span>
            Easy To use to fit your taste
        </h2>
        <p class="text-gray-600 text-xl mt-8 md:ml-16">
            This library was developed with the idea that you should
            be able to add flash notification to your application with ease and with few lines of code.
        </p>
        <p class="text-gray-600 text-xl mt-8 md:ml-16">
            inject the <strong class="text-indigo-600">Flasher</strong> service and show a default notification library,
            or choose a specific one by calling the <strong class="text-green-500">create(<span class="text-yellow-600">string</span>
            <span>$library</span>)</strong> method.
        </p>
        <p class="text-gray-600 text-xl mt-8 md:ml-16">
            Build you notification and add options to it using the default notification <strong class="text-indigo-600">builder</strong>
            or a specific library
            builder, several builders exists to helps you create your notification.
        </p>
        <p class="text-gray-600 text-xl mt-8 md:ml-16">
            you can also add custom informations to your notification with <span class="text-indigo-600 font-semibold">stamps</span>:
            <br>
            The library come with some <span class="text-indigo-600 font-semibold">stamps</span> out of the box :
        <ul class="mt-4 ml-4 md:ml-24 text-xl">
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1"
                          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 font-semibold text-indigo-600">CreatedAtStamp</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1"
                          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 font-semibold text-indigo-600">PriorityStamp</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1"
                          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 font-semibold text-indigo-600">DelayStamp</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1"
                          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 font-semibold text-indigo-600">HopsStamp</span>
            </li>
        </ul>
        </p>
    </section>
</section>

<section class="mt-10 bg-indigo-900 py-10 px-4">
    <div class="container mx-auto lg:grid lg:grid-cols-2 gap-4">
        <section class="col-span-1 lg:px-24">
            <h2 class="text-3xl text-white leading-tight mb-2 flex">
                <span class="h-10 w-10 mr-3 rounded-full bg-indigo-500 flex items-center justify-center">
                    <img src="/static/icons/thumbs-up.svg" class="w-5"/>
                </span>
                Render you notifications
            </h2>
            <p class="text-indigo-300 text-xl mt-8 md:ml-16">
                PHP Flasher make it very easy to render you notifications just
                by adding a simple line of code.
            </p>
            <p class="text-indigo-300 text-xl mt-8 md:ml-16">
                You dont have to worry about importing you javascript or stylesheets, <strong class="text-white font-semibold">Flasher</strong> handle this for you, and it only add the needed files when notifications are ready to be rendered
                to the browser
            </p>
            <p class="text-indigo-300 text-xl mt-8 md:ml-16">
                You can customize how you want to display you notifications: Limit the number of displayed notifications, order them and also filter them how you want with <strong class="text-white">stamps</strong>, of course you can add your on logic here.
            </p>
        </section>
        <section class="flex items-center justify-center col-span-1 mt-8">
            <img class="w-full" src="/static/render-notifications.png" alt="Render Notifications"/>
        </section>
    </div>
</section>

<section class="my-8 container mx-auto px-4 lg:px-24">
    <h2 class="text-3xl text-indigo-600 leading-tight mb-2 flex">
            <span class="h-10 w-10 mr-3 rounded-full bg-indigo-500 flex items-center justify-center">
                <img src="/static/icons/heart.svg" class="inline-block w-5"/>
            </span>
        Is it all :( ?
    </h2>
    <p class="text-gray-700 text-xl mt-8 md:ml-16">
        <span class="text-indigo-600 font-semibold">Naaah!!!</span> of course their is a lot more of goodies, Flasher is very powerful and flexible it allow you to do more advanced things :
        <ul class="mt-4 ml-6 md:ml-24 text-xl">
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 text-gray-600">You can add you own factories, stamps, eventSubscribers, filters .....etc.</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 text-gray-600">Easy migration from similar libraries.</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 text-gray-600">You can activate model observers to show notifications automatically when Eloquent events occurred.</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 text-gray-600">Show notifications from ajax requests from a json response.</span>
            </li>
            <li class="flex text-xl mt-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 flex-none mr-1" viewBox="0 0 20 20">
                    <path stroke-width="2" fill="#6366F1" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
                </svg>
                <span class="prose ml-4 text-gray-600">and lot more, just checkout the <a href="/docs/">documentation</a></span>
            </li>
        </ul>
    </p>
</section>

{% include footer.html %}
</body>
</html>
